@{
    ViewData["Title"] = "Home Page";
}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div style="align-items; margin: 30px auto;">
        <h4 class="titulo">Gestion Biblioteca Natalia</h4>
    </div>
</nav>
